a,h1,h2,h3,h4,body,html,div,textarea,input,hr{
font-family: Calibri,Arial,Sans Serif;
line-height: 1.3em;
background-color: #FAEAE4;
color:#5C3200;
}
a:link{ color:#3355EE; }
a:visited { color:#3355EE; }
h2.slrStyle {
font-family: Didot, serif;
text-shadow: 1.5px 1.5px #AB8F72;
}
h3.slrStyle {
font-family: Didot, serif;
text-shadow: 1.5px 1.5px #AB8F72;
}
#headerBar{ 
height:60px;
width:auto;
position:relative;
}
#headerLeft {
position:absolute;
z-index:1;
margin:0 0 0 0;
left:0px;
}
#headerRight {
position:absolute;
top:3px;
right:20px;
bottom:1px;
float:right;
white-space:nowrap;
}
#logoImage{ 
height:60px;
margin:0px 0 0 10px
}
.currentPage{
color:red;
}
#centeredContainer{
/*width:1060px;*/
margin:0 auto;
font-size:1.05em;
padding-top:1em;
}
#mainContent{
/* float:left; */
padding-right: 250px; 
padding-left:10px;
/*width:710px; */
padding-top:0.5em;
}
#rightCol{
float:right;
width:230px;
padding-top:1em;
}
a:hover{
color:blue;
}
a{
text-decoration:none;
}
hr { 
 width:99%; height: 1px;
/* color:#5C3200;*/
 background-color:#5C3200;
}
#topBar{
word-spacing:12px;
padding-left:20px;
white-space:nowrap;
height:1.2em;
}
#resourceTable{
margin:5px;
padding:9px 9px 9px 9px;
table-layout:fixed;
}
th{
text-align: left;
padding:0px 5px 0px 5px;
}
td{
text-align: left;
padding:0px 5px 0px 5px;
}
a.myTopButton{
color:#5C3200;
}
.topButtons{
}
.contact_info{
font-family: Calibri,Arial,Sans Serif;
line-height: 1.3em;
}
.contactTitle{
font-family: Didot, serif;
text-shadow: 1px 1px #AB8F72;
font-size: 18px;
/*font-weight:bold;*/
border-bottom:1px solid #5C3200;
padding:0px 0px 4px 0px;
margin:15px 5px 10px 0px;
}
h2.resource{
margin: 5px 2px 5px 8px;
}
p.resource{
margin:2px 2px 2px 15px;
}
#about{
padding:0px 0px 0px 20px;
}
#footer{
float:right;
}

